
week3/.ipynb_checkpoints/02. Pandas Introduction-Copy1-checkpoint.ipynb

week3/.ipynb_checkpoints/PSET_2_Pandas-checkpoint.ipynb

week3/.ipynb_checkpoints/PSET_2_Pandas-Copy1-checkpoint.ipynb

week3/02. Pandas Introduction-Copy1.ipynb

week3/data/~$ter_registration_list_documentation.doc

week3/PSET_2_Pandas-Copy1.ipynb
